/*-------------------
     Dark Palette
--------------------*/

/* Coolors Exported Palette - coolors.co/3d3d3d-474747-565656-c1c1c1-efefef */

/* HSL */
$dark1: hsla(0%, 0%, 24%, 1);
$dark2: hsla(0%, 0%, 28%, 1);
$dark3: hsla(0%, 0%, 34%, 1);
$dark4: hsla(0%, 0%, 76%, 1);
$dark5: hsla(0%, 0%, 94%, 1);

/* RGB */
$dark1: rgba(61, 61, 61, 1);
$dark2: rgba(71, 71, 71, 1);
$dark3: rgba(86, 86, 86, 1);
$dark4: rgba(193, 193, 193, 1);
$dark5: rgba(239, 239, 239, 1);

/*-------------------
     Light Palette
--------------------*/

/* Coolors Exported Palette - coolors.co/f9f9f9-e5e5e5-b5b5b5-8c8c8c-707070 */

/* HSL */
$light1: hsla(0%, 0%, 98%, 1);
$light2: hsla(0%, 0%, 90%, 1);
$light3: hsla(0%, 0%, 71%, 1);
$light4: hsla(0%, 0%, 55%, 1);
$light5: hsla(0%, 0%, 44%, 1);

/* RGB */
$light1: rgba(249, 249, 249, 1);
$light2: rgba(229, 229, 229, 1);
$light3: rgba(181, 181, 181, 1);
$light4: rgba(140, 140, 140, 1);
$light5: rgba(112, 112, 112, 1);

/*-------------------
     Blue Palette
--------------------*/

/* Coolors Exported Palette - coolors.co/202847-354563-446491-4281a4-717c89 */

/* HSL */
$blue1: hsla(228%, 38%, 20%, 1);
$blue2: hsla(219%, 30%, 30%, 1);
$blue3: hsla(215%, 36%, 42%, 1);
$blue4: hsla(201%, 43%, 45%, 1);
$blue5: hsla(213%, 10%, 49%, 1);

/* RGB */
$blue1: rgba(32, 40, 71, 1);
$blue2: rgba(53, 69, 99, 1);
$blue3: rgba(68, 100, 145, 1);
$blue4: rgba(66, 129, 164, 1);
$blue5: rgba(113, 124, 137, 1);

/*-------------------
      Red Palette
--------------------*/

/* Coolors Exported Palette - coolors.co/722020-992a2a-cc2c2c-f23030-c15e5e */

/* HSL */
$red1: hsla(0%, 56%, 29%, 1);
$red2: hsla(0%, 57%, 38%, 1);
$red3: hsla(0%, 65%, 49%, 1);
$red4: hsla(0%, 88%, 57%, 1);
$red5: hsla(0%, 44%, 56%, 1);

/* RGB */
$red1: rgba(114, 32, 32, 1);
$red2: rgba(153, 42, 42, 1);
$red3: rgba(204, 44, 44, 1);
$red4: rgba(242, 48, 48, 1);
$red5: rgba(193, 94, 94, 1);

/*-------------------
    Green Palette
--------------------*/

/* Coolors Exported Palette - coolors.co/003a1f-30592c-388c0e-70b74e-8bb28d */

/* HSL */
$green1: hsla(152%, 100%, 11%, 1);
$green2: hsla(115%, 34%, 26%, 1);
$green3: hsla(100%, 82%, 30%, 1);
$green4: hsla(101%, 42%, 51%, 1);
$green5: hsla(123%, 20%, 62%, 1);

/* RGB */
$green1: rgba(0, 58, 31, 1);
$green2: rgba(48, 89, 44, 1);
$green3: rgba(56, 140, 14, 1);
$green4: rgba(112, 183, 78, 1);
$green5: rgba(139, 178, 141, 1);